@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans", "Roboto", Segoe UI, Helvetica Neue, sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(163, 160, 160);
}

::-webkit-scrollbar-track {
  background-color: rgb(200, 193, 193);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.card {
  @apply mb-5 block rounded-lg border border-gray-200 shadow-md;
}

@media screen and (max-width: 768px) {
  .MuiInputBase-root {
    font-size: 0.85rem !important;
  }
}

@media screen and (max-width: 380px) {
  .MuiInputBase-root {
    font-size: 0.75rem !important;
  }
}

.primary-button {
  @apply rounded sm:py-2 sm:px-4 py-[0.35rem] px-[0.6rem] outline-none text-[0.65rem] sm:text-[0.7rem] xl:text-[0.8rem] text-white;
  background-color: rgb(71 85 105);
}

.primary-button:enabled:hover {
  background-color: rgb(100 116 139);
}

.primary-button:enabled:active {
  background-color: rgb(148 163 184);
}

.default-button {
  @apply rounded sm:py-2 sm:px-4 py-[0.35rem] px-[0.6rem] bg-white text-[0.65rem] sm:text-xs text-black border-2 font-semibold;

  border-color: rgb(100 116 139);
}

.default-button:hover {
  background-color: rgb(241 245 249);
}

.dropdown-link {
  @apply flex p-2 hover:bg-gray-200 rounded-md cursor-pointer;
}

.page-loader {
  border-top-color: #3498db;
  -webkit-animation: spinner 1.5s linear infinite;
  animation: spinner 1.5s linear infinite;
}

.center-loader {
  position: absolute;
  left: calc((100% - 30px) / 2);
}

.alert-error {
  @apply my-3 rounded-lg bg-red-100 text-red-700 p-3;
}

.alert-success {
  @apply my-3 rounded-lg bg-green-100 text-green-700 p-3;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
